package degreeplan

import (
    "github.com/michalhercik/RecSIS/utils"
    "strconv"
)

templ Page(dp *DegreePlan) {
    @utils.Page("Degree plan") {
        @Content(dp)
    }
}

templ Content(dp *DegreePlan) {
    <h1>Degree plan</h1>
    for _, bloc := range dp.blocs {
        <h2>{ bloc.Name } ({ strconv.Itoa(bloc.Limit) })</h2>
        <ul>
        for _, course := range bloc.Courses {
            <li>{ course.Code } { course.Name } { course.Note }</li>
        }
        </ul>
    }
}