package degreeplan

import "github.com/michalhercik/RecSIS/utils"

templ Page() {
    @utils.Page("Degree plan") {
        @Content()
    }
}

templ Content() {
    <h1>Degree plan</h1>
    <h2>Error 404</h2>
    <p>Under construction</p>
}