package main

templ homePage() {
    @page("Home") {
        @homeContent()
    }
}

templ homeContent() {
    <div id="introduction">
        <h1>About RecSIS</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac purus sit amet.</p>   
    </div>
}