package home

import (
	"fmt"
	"github.com/michalhercik/RecSIS/ui"
)

templ Content(hp *homePage, t text) {
	<div
		id="home-page"
		class="container pt-3"
		x-data="{ visibleCards: 0, recVisibleOffset: 0, newVisibleOffset: 0 }"
		x-init="setCardsWidth(); visibleCards = calculateVisibleCards();"
		@load.window="setCardsWidth(); visibleCards = calculateVisibleCards();"
		@resize.window="setCardsWidth(); visibleCards = calculateVisibleCards();"
	>
		<div class="pb-4">
			@carousel("for-you", t.recommendedCourses, "foryou", hp.forYou, t)
		</div>
		<div class="pb-4">
			for _, cat := range hp.categories {
				@carousel(cat.name, cat.name, "", cat.courses, t)
			}
		</div>
		@scripts()
	</div>
}

templ ForYouPage(fyp forYouPage, t text) {
	<div
		id="foryou-page"
		class="container pt-3"
	>
		<h4>{ t.recommendedCourses }</h4>
		<div class="pb-4">
			@list("for-you", fyp.forYou, t)
			<div class="d-flex justify-content-center">
				@ui.MoreButton(ui.MoreButtonModel{
					Href:   fmt.Sprintf("/foryou/content"),
					Target: "for-you",
					Lang:   t.language,
				})
			</div>
		</div>
	</div>
}

templ ForYouContent(fyp forYouPage, t text) {
	{{
		listCourses := make([][]ui.Course, len(fyp.forYou))
		for i, group := range fyp.forYou {
			listCourses[i] = make([]ui.Course, len(group))
			for j, course := range group {
				listCourses[i][j] = ui.Course{
					Code:       course.Code,
					Title:      course.Title,
					Guarantors: []string{course.Guarantors.string(t)},
					Semester:   course.Semester.string(t),
					Credits:    course.Credits,
					URL:        "/course/" + course.Code,
				}
			}
		}
	}}
	@ui.ListItems(ui.ListModel{
		ID: "for-you",
		Lang: t.language,
		Courses: listCourses,
	})
}

templ list(ID string, courses [][]course, t text) {
	{{
		listCourses := make([][]ui.Course, len(courses))
		for i, group := range courses {
			listCourses[i] = make([]ui.Course, len(group))
			for j, course := range group {
				listCourses[i][j] = ui.Course{
					Code:       course.Code,
					Title:      course.Title,
					Guarantors: []string{course.Guarantors.string(t)},
					Semester:   course.Semester.string(t),
					Credits:    course.Credits,
					URL:        "/course/" + course.Code,
				}
			}
		}
	}}
	@ui.List(ui.ListModel{
		ID:       ID,
		Lang:     t.language,
		Courses:  listCourses,
	})
}

templ carousel(ID, title, viewAllURL string, courses [][]course, t text) {
	{{
		carouselCourses := make([][]ui.Course, len(courses))
		for i, group := range courses {
			carouselCourses[i] = make([]ui.Course, len(group))
			for j, course := range group {
				carouselCourses[i][j] = ui.Course{
					Code:       course.Code,
					Title:      course.Title,
					Guarantors: []string{course.Guarantors.string(t)},
					Semester:   course.Semester.string(t),
					Credits:    course.Credits,
					URL:        "/course/" + course.Code,
				}
			}
		}
	}}
	@ui.HorizontalCarousel(ui.Carousel{
		ID:         ID,
		Title:      title,
		Lang:       t.language,
		ViewAllURL: viewAllURL,
		Courses:    carouselCourses,
	})
}

templ courseCardsRow(ID string, courses []course, t text) {
	<div class="d-flex justify-content-between align-items-center pt-2">
		@chevronLeftBtn(ID)
		<div id={ fmt.Sprintf("course-cards-row-%s", ID) } class="d-flex flex-row flex-no-wrap overflow-hidden w-100 gap-1 px-1">
			for i, c := range courses {
				<div class="card small-card" x-cloak x-show={ fmt.Sprintf("(%sVisibleOffset <= %d && %d < %sVisibleOffset + visibleCards)", ID, i, i, ID) }>
					<div class="card-header lh-1 py-1">
						<div class="d-flex justify-content-between w-100">
							<h6 class="mb-0">{ c.Code }</h6>
							<small>{ fmt.Sprintf("%s: %d", t.credits, c.Credits) }</small>
						</div>
						<div class="text-center w-100">
							<small>{ fmt.Sprintf("%s %s, %s", c.Semester.string(t), c.hoursString(), c.ExamType) }</small>
						</div>
					</div>
					<div class="card-body justify-content-between d-flex flex-column h-100">
						<h6 class="card-title pb-1">
							@titleCourseLink(c.Code, c.Title, t)
						</h6>
						<h6 class="card-subtitle text-muted">{ c.Guarantors.string(t) }</h6>
					</div>
				</div>
			}
		</div>
		@chevronRightBtn(ID, len(courses)-1)
	</div>
}

templ titleCourseLink(code, title string, t text) {
	<a
		class="link-body-emphasis link-underline-opacity-0 link-underline-opacity-75-hover"
		href={ templ.SafeURL(t.language.LocalizeURL("/course/" + code)) }
	>
		{ title }
	</a>
}

templ chevronLeftBtn(ID string) {
	<button
		class="btn btn-primary px-0 py-2"
		:class={ fmt.Sprintf("{ 'disabled': %sVisibleOffset <= 0 }", ID) }
		@click={ fmt.Sprintf("%sVisibleOffset = Math.max(0, %sVisibleOffset - visibleCards)", ID, ID) }
	>
		<i class="bi bi-chevron-compact-left fs-4"></i>
	</button>
}

templ chevronRightBtn(ID string, maxOffset int) {
	<button
		class="btn btn-primary px-0 py-2"
		:class={ fmt.Sprintf("{ 'disabled': %sVisibleOffset + visibleCards >= %d }", ID, maxOffset) }
		@click={ fmt.Sprintf("%sVisibleOffset += visibleCards", ID) }
	>
		<i class="bi bi-chevron-compact-right fs-4"></i>
	</button>
}
