package receval

import "fmt"
import "slices"

func mapColorsSingle(flags []bool, colorClass string) []string {
	var result []string = make([]string, len(flags))
	for i, flag := range flags {
		if !flag {
			result[i] = colorClass
		}
	}
	return result
}

// func mapColorsDouble(flags1, flags2 [][]bool, colorClass1, colorClass2, andClass string) [][]string {
// 	var result [][]string = make([][]string, len(flags1))
// 	for i, f1 := range flags1 {
// 		result[i] = []string{}
// 		f2 := flags2[i]
// 		for j, if1 := range f1 {
// 			if2 := f2[j]
// 			if if1 && if2 {
// 				result[i] = append(result[i], andClass)
// 			} else if if1 {
// 				result[i] = append(result[i], colorClass1)
// 			} else if if2 {
// 				result[i] = append(result[i], colorClass2)
// 			} else {
// 				result[i] = append(result[i], "")
// 			}
// 		}
// 	}
// 	return result
// }

func mapColorsDouble(flags1, flags2 []bool, colorClass1, colorClass2, andClass string) []string {
	var result []string = make([]string, len(flags1))
	for i, f1 := range flags1 {
		f2 := flags2[i]
		if f1 && f2 {
			result[i] = andClass
		} else if f1 {
			result[i] = colorClass1
		} else if f2 {
			result[i] = colorClass2
		}
	}
	return result
}

templ Recommended(model recommendedModel, t text) {
	<div class="container pt-3">
		@controlForm(model, t)
		@SavedStudents(model.savedStudents)
		if model.recommendation.UserID != "" {
			@studentInfo(model, t)
			if len(model.recommendation.Recommended) == 1 {
				@singleAlgo(model, t)
			} else if len(model.recommendation.Recommended) > 1 {
				@multiAlgo(model, t)
			}
		}
	</div>
}

templ multiAlgo(model recommendedModel, t text) {
	<h3>Recommended</h3>
	<div class="row">
		for i, algo := range model.algo {
			@courseSection(algo, model.courses[i], model.recommendation.Recommended[i].Groups, mapColorsDouble(model.recommendation.Recommended[i].RecommendedTruePos, model.recommendation.Recommended[i].RecommendedInDegreePlan, "list-group-item-success", "list-group-item-warning", "list-group-item-info"), t) {
				<li class="list-group-item list-group-item-success p-0 pl-2">Succesful recommendation - NOT in degree plan</li>
				<li class="list-group-item list-group-item-info p-0 pl-2">Succesful recommendation - in degree plan</li>
				<li class="list-group-item list-group-item-warning p-0 pl-2">Not expected - in degree plan</li>
			}
		}
	</div>
	<h3>Expected</h3>
	<div class="row">
		for i, algo := range model.algo {
			@courseSectionSimple(algo, model.expected, mapColorsDouble(model.recommendation.Recommended[i].ExpectedFalseNeg, model.recommendation.ExpectedInDegreePlan, "list-group-item-danger", "list-group-item-info", "list-group-item-warning"), t) {
				<li class="list-group-item list-group-item-info p-0 pl-2">Succesful recommendation - in degree plan</li>
				<li class="list-group-item list-group-item-warning p-0 pl-2">Not recommended - in degree plan</li>
				<li class="list-group-item list-group-item-danger p-0 pl-2">Not recommended - NOT in degree plan</li>
			}
		}
	</div>
	<div class="row">
		@courseSectionSimple("Finished", model.finished, mapColorsSingle(model.recommendation.FinishedInDegreePlan, "list-group-item-primary"), t) {
			<li class="list-group-item list-group-item-primary p-0 pl-2">Finished - NOT in degree plan</li>
			<li class="invisible list-group-item p-0 pl-2">Placeholder</li>
			<li class="invisible list-group-item p-0 pl-2">Placeholder</li>
		}
	</div>
}

templ singleAlgo(model recommendedModel, t text) {
	<div class="row">
		@courseSectionSimple("Finished", model.finished, mapColorsSingle(model.recommendation.FinishedInDegreePlan, "list-group-item-primary"), t) {
			<li class="list-group-item list-group-item-primary p-0 pl-2">Finished - NOT in degree plan</li>
			<li class="invisible list-group-item p-0 pl-2">Placeholder</li>
			<li class="invisible list-group-item p-0 pl-2">Placeholder</li>
		}
		@courseSection("Recommended", model.courses[0], model.recommendation.Recommended[0].Groups, mapColorsDouble(model.recommendation.Recommended[0].RecommendedTruePos, model.recommendation.Recommended[0].RecommendedInDegreePlan, "list-group-item-success", "list-group-item-warning", "list-group-item-info"), t) {
			<li class="list-group-item list-group-item-success p-0 pl-2">Succesful recommendation - NOT in degree plan</li>
			<li class="list-group-item list-group-item-info p-0 pl-2">Succesful recommendation - in degree plan</li>
			<li class="list-group-item list-group-item-warning p-0 pl-2">Not expected - in degree plan</li>
		}
		@courseSectionSimple("Expected", model.expected, mapColorsDouble(model.recommendation.Recommended[0].ExpectedFalseNeg, model.recommendation.ExpectedInDegreePlan, "list-group-item-danger", "list-group-item-info", "list-group-item-warning"), t) {
			<li class="list-group-item list-group-item-info p-0 pl-2">Succesful recommendation - in degree plan</li>
			<li class="list-group-item list-group-item-warning p-0 pl-2">Not recommended - in degree plan</li>
			<li class="list-group-item list-group-item-danger p-0 pl-2">Not recommended - NOT in degree plan</li>
		}
	</div>
}

templ SavedStudents(savedStudents []savedStudent) {
	<div id="saved-students" class="d-flex gap=2 mb-2">
		for _, s := range savedStudents {
			<div class="btn-group" role="group">
				<a
					class="btn btn-secondary"
					href={ templ.SafeURL(fmt.Sprintf("/receval/student/%s", s.ID)) }
					hx-include="[name=limit],[name=algo]"
				>
					{ s.ID } { s.Title }
				</a>
				<button
					type="button"
					class="btn btn-danger"
					aria-label="Close"
					hx-delete={ templ.URL(fmt.Sprintf("/receval/student/%s", s.ID)) }
					hx-target="#saved-students"
					hx-swap="outerHTML"
				>
					X
				</button>
			</div>
		}
	</div>
}

templ studentInfo(model recommendedModel, t text) {
	<h3>Student info</h3>
	<div class="d-flex align-items-center gap-2 mb-2">
		<div>
			<div>ID: { model.recommendation.UserID }</div>
			<div>{ model.recommendation.Type } of { model.recommendation.Field }</div>
			<div>
				Degree Plan: <a
	href={ templ.URL(t.language.LocalizeURL("/degreeplan/"+model.recommendation.DegreePlan)) + "?search-dp-year=2025" }
>{ model.recommendation.DegreePlan }</a>
			</div>
			<div>Year: { model.recommendation.YearOfStudy }</div>
		</div>
		// <form hx-post={ templ.SafeURL("/receval/student")} hx-target="#saved-students" hx-swap="outerHTML">
		// <form method="post" action={ templ.SafeURL("/receval/student")} hx-target="#saved-students" hx-swap="outerHTML">
		<div class="d-flex align-items-center gap-2 mb-2">
			<input type="hidden" name="student-id" value={ model.recommendation.UserID }/>
			<label for="title" class="form-label mb-0 ms-2">Title:</label>
			<input type="text" class="form-control" name="title"/>
			<input
				type="button"
				class="btn btn-primary"
				hx-post={ templ.SafeURL("/receval/student") }
				hx-target="#saved-students"
				hx-swap="outerHTML"
				hx-include="[name=student-id],[name=title]"
				value="Save User"
			/>
		</div>
	</div>
}

templ controlForm(model recommendedModel, t text) {
	<div class="d-flex align-items-center gap-2 mb-2">
		<form x-ref="algoForm" method="get" action={ templ.SafeURL(t.language.LocalizeURL("/receval")) }>
			<div class="d-flex align-items-center gap-2 mb-2">
				<label for="student" class="form-label mb-0 ms-2">Student:</label>
				<input type="text" class="form-control" name="student" value={ model.student }/>
				<label for="algo" class="form-label mb-0 ms-2">Algorithm:</label>
				<select name="algo" multiple class="form-select">
					<option></option>
					for i, algo := range model.algoSuggestions {
						<option selected?={ slices.Contains(model.algo, algo) } value={ algo }>{ fmt.Sprintf("%s (%t)", algo, model.algoFit[i]) }</option>
					}
				</select>
				<label for="limit" class="form-label mb-0 ms-2">Limit:</label>
				<input
					name="limit"
					type="number"
					min="5"
					max="30"
					step="5"
					value={ fmt.Sprintf("%d", model.limit) }
					class="form-control"
				/>
				<div><input type="submit" class="btn btn-primary"/></div>
			</div>
			// <div>
			// 	for _, algo := range model.algoSuggestions {
			// 		<div class="form-check form-check-inline">
			// 			  <input class="form-check-input" type="checkbox" id={ algo } value={ algo }>
			// 			  <label class="form-check-label" for={ algo }>{ algo }</label>
			// 		</div>
			// 	}
			// </div>
		</form>
		<div>
			<div>
				<a
					class="btn btn-primary"
					href={ templ.SafeURL(t.language.LocalizeURL("receval/student/random")) }
					hx-include="[name=algo],[name=limit]"
				>
					Random
				</a>
			</div>
		</div>
		<div class="d-flex gap-2 mb-2">
			<div>
				<a
					class="btn btn-primary"
					hx-post={ templ.SafeURL(t.language.LocalizeURL("receval/fit")) }
					hx-include="[name=algo]"
					hx-target="#fitResult"
					hx-swap="innerHTML"
					hx-indicator="#fit-processing"
				>
					Fit
				</a>
			</div>
			<div><span id="fitResult"></span><span id="fit-processing" class="htmx-indicator">Processing...</span></div>
		</div>
	</div>
	<div class="d-flex gap-2 mb-2">
		for _, testAccount := range model.testAccounts {
			<a
				href={ templ.SafeURL(fmt.Sprintf("/recommended/%s", testAccount)) }
				class="btn btn-secondary"
				hx-include="[name=limit],[name=algo]"
			>
				{ testAccount[5:] }
			</a>
		}
	</div>
}

templ courseSection(title string, courses []course, groups [][]int, color []string, t text) {
	<div class="col">
		<h3>{ fmt.Sprintf("%s (%d)", title, len(courses)) }</h3>
		<ul class="list-group list-group-flush pl-1 pr-4">
			{ children... }
		</ul>
		<hr/>
		{{ fmt.Println(courses) }}
		<ul class="list-group list-group-flush">
			for _, g := range groups {
				if len(g) > 1 {
					@group(g, courses, color, t)
				} else if len(g) == 1 {
					@courseRow(courses[g[0]], color[g[0]], t)
				}
			}
		</ul>
	</div>
}

templ courseSectionSimple(title string, courses []course, color []string, t text) {
	<div class="col">
		<h3>{ fmt.Sprintf("%s (%d)", title, len(courses)) }</h3>
		<ul class="list-group list-group-flush pl-1 pr-4">
			{ children... }
		</ul>
		<hr/>
		<ul class="list-group list-group-flush">
			for i, c := range courses {
				@courseRow(c, color[i], t)
			}
		</ul>
	</div>
}

templ courseRow(course course, color string, t text) {
	<li class={ "list-group-item d-flex justify-content-between align-items-start " + color }>
		<div class="w-100">
			<div class="d-flex justify-content-between">
				<div class="fw-bold">
					@titleCourseLink(course.Code, course.Title, t)
				</div>
				// <div class={ "text-muted" }>{ fmt.Sprintf("%s %s, %s", course.Semester.string(t), course.hoursString(), course.ExamType) }</div>
				<div class={ "text-muted" }>{ course.Code }</div>
			</div>
			<div class="d-flex justify-content-between">
				<div class={ "text-muted" }>{ course.Guarantors.string(t) }</div>
				// <div class={ "text-muted" }>Kr.: { course.Credits }</div>
			</div>
		</div>
	</li>
}

templ Fit(success bool) {
	Done
}

templ titleCourseLink(code, title string, t text) {
	<a
		class={ "link-body-emphasis link-underline-opacity-0 link-underline-opacity-75-hover" }
		href={ templ.SafeURL(t.language.LocalizeURL("/course/" + code)) }
	>
		{ title }
	</a>
}

templ group(group []int, courses []course, color []string, t text) {
	<!-- GROUP (English) -->
	<li
		class={ "list-group-item d-flex justify-content-between align-items-start " + color[0] }
		data-bs-toggle="collapse"
		data-bs-target={ "#" + courses[group[0]].Code }
	>
		<!-- Preview (first item) -->
		<div>
			<strong>{ courses[group[0]].Title }</strong>
			<small class="text-muted d-flex gap-3">
				<span>{ courses[group[0]].Guarantors.string(t) }</span>
			</small>
		</div>
		<!-- Right side -->
		<div class="text-end">
			<span class="badge bg-light text-dark">+ { len(group) - 1 }</span>
			<br/>
			<span class="chevron">▼</span>
		</div>
	</li>
	<!-- Children -->
	<div class="collapse tree-group border-bottom border-bottom-2" id={ courses[group[0]].Code }>
		<div class="ps-3 ms-2 border-start border-start-2 ">
			<div class="list-group">
				for _, c := range group {
					@courseRow(courses[c], color[c], t)
				}
			</div>
		</div>
	</div>
}
