/* Custom scrollbar styles */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Ensure space for scrollbar on every page */
body {
    overflow-y: scroll;
}

/* Blueprint credits div box styles */
.credits-box {
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 1000;
    left: 25px;
}

/* Option menu styles */
.option-menu {
    padding: .25rem .25rem;
    margin-left: auto;
    margin-right: auto;
}

/* Assign box styles */
.assign-box {
    position: absolute;
    top: 100%; /* Position it directly below the parent */
    left: 50%; /* Center it horizontally */
    transform: translateX(-50%); /* Adjust for the element's width */
    background: white;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 1000;
}   

/* Blueprint tables styles */
/* TODO: For small screens, the font should be smaller */
.blueprint-table {
    margin-bottom: 0 !important;
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
}

.headline {
    border-top: 2px solid #636363 !important;
}

.yeartext {
    font-weight: bold;
    font-size: 0.9em;
}

.semtext {
    font-style: italic;
    font-size: 0.9em;
}

.short {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.blueprint-table th:nth-child(1),
.blueprint-table td:nth-child(1) {
    width: 21px;
}

.blueprint-table th:nth-child(2),
.blueprint-table td:nth-child(2) {
    width: 88px;
}

.blueprint-table th:nth-child(3),
.blueprint-table td:nth-child(3) {
    width: 35%;
    min-width: 350px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.blueprint-table th:nth-child(4),
.blueprint-table td:nth-child(4) {
    width: 70px;
}

.blueprint-table th:nth-child(5),
.blueprint-table td:nth-child(5) {
    width: 100px;
}

.blueprint-table th:nth-child(6),
.blueprint-table td:nth-child(6) {
    width: 100px;
}

.blueprint-table th:nth-child(7),
.blueprint-table td:nth-child(7) {
    width: 20%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.blueprint-table th:nth-child(8),
.blueprint-table td:nth-child(8) {
    width: 120px;
}

/* Courses grid styles */
.custom-container {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 0;
    max-width: 100vw;
}

.custom-card {
    width: 300px;
    min-width: 300px;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
}

/* Courses annotation styles */
.annotation-container {
    max-height: 250px;
    overflow: hidden;
    position: relative;
    mask-image: linear-gradient(180deg, #000 80%, transparent);
}

.annotation-container.expanded {
    max-height: none;
    mask-image: none;
}

.annotation-text {
    text-align: justify;
    font-size: 0.9em;
}

/* Course card blueprint assignment ribbon styles */
.ribbon {
    width: 80px;
    height: 80px;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
}

.ribbon span {
    position: absolute;
    display: block;
    width: 120px;
    padding: 5px 0;
    background: rgb(4, 108, 181);
    color: white;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    transform: rotate(45deg);
    top: 10px;
    right: -40px;
}

/* Degree plan table columns width styles */
.degree-plan-table th:nth-child(1),
.degree-plan-table td:nth-child(1) {
    width: 88px;
}

.degree-plan-table th:nth-child(2),
.degree-plan-table td:nth-child(2) {
    width: auto;
}

.degree-plan-table th:nth-child(3),
.degree-plan-table td:nth-child(3) {
    width: 70px;
}

.degree-plan-table th:nth-child(4),
.degree-plan-table td:nth-child(4) {
    width: 100px;
}

.degree-plan-table th:nth-child(5),
.degree-plan-table td:nth-child(5) {
    width: 100px;
}