package ui

import (
	"github.com/michalhercik/RecSIS/language"
)

type Carousel struct {
	ID string
	Lang language.Language
	Title string
	ViewAllURL string
	Courses [][]Course
}

func (c Carousel) T() Translated {
	return i18n[c.Lang]
}

type Course struct {
	Code string
	Title string
	Guarantors []string
	Semester string
	Credits int
	URL string
}

var carouselHandle = templ.NewOnceHandle()


templ HorizontalCarousel(model Carousel) {
	@carouselHandle.Once() {
		@btnJavaScript()
  	}
	<div class="container py-1">
	  <!-- ================= Recommended ================= -->
	  <div class="d-flex justify-content-between align-items-center mb-2">
    <h5 class="fw-semibold mb-0">{ model.Title }</h5>
		<div class="d-flex align-items-center gap-2">
			if model.ViewAllURL != "" {
		    	<a href={ templ.URL(model.ViewAllURL) } class="small text-decoration-none text-nowrap">{ model.T().ViewAll }</a>
			}
		    <button class="scroll-btn left" style="width:44px; height:40px;" data-target={ model.ID } onclick="scrollRow(this.dataset.target, -1)">
		      <i class="bi bi-chevron-left"></i>
		    </button>
		    <button class="scroll-btn right" style="width:44px; height:40px;" data-target={ model.ID } onclick="scrollRow(this.dataset.target, 1)">
		      <i class="bi bi-chevron-right"></i>
		    </button>
		</div>
	  </div>

	  <div class="position-relative">
		<div class="d-flex gap-2 overflow-hidden pb-2" id={ model.ID }>
	      <!-- cards from model.Courses -->
		  @ListItems(ListModel{
				ID: model.ID,
				Lang: model.Lang,
				Courses: model.Courses,
			})
	    </div>
	  </div>
	</div>
	<script>
      (() => {
        const container = document.getElementById({{ model.ID }});
        container.addEventListener('scroll', () => updateScrollButtons({{ model.ID }}));
        window.addEventListener('pageshow', () => updateScrollButtons({{ model.ID }}));
      })();
	</script>
}

templ btnJavaScript() {
	<script>
	  function scrollRow(id, direction) {
        const container = document.getElementById(id);

        container.scrollBy({
          left: direction * (container.clientWidth * 0.9),
          behavior: 'smooth'
        });
      }

      function updateScrollButtons(id) {
        const container = document.getElementById(id);

        const leftBtn = document.querySelector(
          `.scroll-btn.left[data-target="${id}"]`
        );
        const rightBtn = document.querySelector(
          `.scroll-btn.right[data-target="${id}"]`
        );

        leftBtn.disabled = container.scrollLeft <= 0;

        rightBtn.disabled =
          container.scrollLeft + container.clientWidth >=
          container.scrollWidth - 1;
      }
	</script>
}

templ titleCourseLink(course Course) {
	<a
		class={ "link-body-emphasis link-underline-opacity-0 link-underline-opacity-75-hover" }
		href={ templ.SafeURL(course.URL) }
	>
		{ course.Title }
	</a>
}
