package ui

import (
	"strings"
	"fmt"
	"github.com/michalhercik/RecSIS/language"
)

type ListModel struct {
	ID       string
	Lang language.Language
	Courses  [][]Course
}

templ List(model ListModel) {
	<div class="d-flex justify-content-center flex-wrap gap-2 pb-2" id={ model.ID }>
      @ListItems(model)
   	</div>
}

// templ ListItems(lang language.Language, courses [][]Course) {
templ ListItems(model ListModel) {
	for _, group := range model.Courses {
		if len(group) == 1 {
			@item(model.Lang, group[0])
		} else {
			@groupItem(model.ID, model.Lang, group)
		}
    }
}

var groupItemStyles = templ.NewOnceHandle()

templ groupItem(id string, lang language.Language, group []Course) {
	@carouselHandle.Once() {
		<style>
			button[data-bs-toggle="collapse"] .chevron {
	            display: inline-block;
	            transition: transform 0.2s ease;
	        }
	        button[data-bs-toggle="collapse"][aria-expanded="true"] .chevron {
	            transform: rotate(180deg);
	        }
		</style>
	}
	{{ firstCourse := group[0] }}
	<div class="card p-3 shadow-sm flex-shrink-0" style="min-width:240px; max-width:240px; border-radius:12px;">
        <div class="text-muted small fw-semibold">{ firstCourse.Code }</div>
        <div class="mt-1">
    	    <div class="fw-semibold" style="font-size:1rem;">@titleCourseLink(firstCourse)</div>
	    </div>
        <div class="text-muted small mt-1">{ strings.Join(firstCourse.Guarantors, ", ")}</div>
        <div class="mt-2">
	        <span class="badge bg-light text-dark me-1">{ firstCourse.Semester }</span>
	        <span class="badge bg-light text-dark me-1">{ firstCourse.Credits } {i18n[lang].Credits}</span>
	        <button
				data-bs-toggle="collapse"
				data-bs-target={ ".group-" + id + "-" + firstCourse.Code }
				class="badge bg-secondary border border-0 me-1">
					<i class="bi bi-chevron-down chevron"></i> +{ len(group) - 1 }
			</button>
        </div>
    </div>
	for _, course := range group[1:] {
		<div class={ "collapse group-" + id + "-" + firstCourse.Code }>
			@item(lang, course)
		</div>
	}
}

templ item(lang language.Language, course Course) {
	<div class="card p-3 shadow-sm flex-shrink-0" style="min-width:240px; max-width:240px; border-radius:12px;">
        <div class="text-muted small fw-semibold">{ course.Code }</div>
        <div class="mt-1">
    	    <div class="fw-semibold" style="font-size:1rem;">@titleCourseLink(course)</div>
	    </div>
        <div class="text-muted small mt-1">{ strings.Join(course.Guarantors, ", ")}</div>
        <div class="mt-2">
	        <span class="badge bg-light text-dark me-1">{ course.Semester }</span>
	        <span class="badge bg-light text-dark me-1">{ course.Credits } {i18n[lang].Credits}</span>
        </div>
    </div>
}

type MoreButtonModel struct {
	Href   string
	Target string
	Lang   language.Language
}

templ MoreButton(model MoreButtonModel) {
	<button class="btn btn-outline-secondary"
		hx-get={ model.Href }
		hx-target={ fmt.Sprintf("#%s", model.Target) }
		hx-swap="beforeend"
		hx-vals={ fmt.Sprintf("js:{offset: document.getElementById(\"%s\").children.length}", model.Target) }
	>
		{ i18n[model.Lang].ViewMore }
	</button>
}
