/* x-cloak is used to prevent the page from flickering when loading */
[x-cloak] { display: none !important; }

/* Custom scrollbar styles */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* space for scrollbar & footer */
body {
    overflow-y: scroll;
    min-height: 100vh;
    padding-bottom: 75px; /* Space for the footer */
}

@media (max-width: 575.5px) {
    body {
        padding-bottom: 100px; /* Space for the footer */
    }
}

@media (max-width: 308.5px) {
    body {
        padding-bottom: 121px; /* Space for the footer */
    }
}

/* Help cursor for popovers/tooltips */
.cursor-help {
    cursor: help;
}

/* text justify class */
.text-justify {
    text-align: justify;
}

/* MatFyz font family */
.mff-font {
    font-family: 'Saira', sans-serif;
}

/* font sizes */
.font08 {
    font-size: 0.8rem !important;
}

.font06 {
    font-size: 0.6rem !important;
}

.responsive-font {
    font-size: 1rem !important;
}

@media (max-width: 767.5px) {
    .responsive-font {
        font-size: 0.9rem !important;
    }
}

@media (max-width: 575.5px) {
    .responsive-font {
        font-size: 0.8rem !important;
    }
}

/* transparent border */
.border-transparent {
    border-color: transparent !important;
}

/* target row from another pages */
tr:target {
    /* keeps the target row in view */
    scroll-margin-top: 100px;
}

tr:target td {
    background-color: yellow;
    animation: highlight 3s ease-in forwards;
}

@keyframes highlight {
    from { background-color: yellow; }
    to { background-color: white; }
}

/* NAV -> nav items font size */
.nav-item-font {
    font-size: calc(1.275rem + .3vw) !important; /* ~ bootstrap fs-4 */
}

@media (max-width: 1199.5px) {
    .nav-item-font {
        font-size: 1.25rem !important; /* ~ bootstrap fs-5 */
    }
}

/* NAV -> input submit button color */
.btn-submit-input-green {
    background-color: rgb(138, 199, 90) !important;
    color: black !important;
}

.btn-submit-input-green:hover {
    background-color: rgb(101, 168, 50) !important;
}

/* NAV -> background color */
.bg-navbar {
    background-color: rgb(233, 244, 222)!important;
}

/* NAV -> search bar styles */
#search-bar-container {
    width: 500px;
    top: 7px;
    right: 106px;
}

@media (max-width: 1399.5px) {
    #search-bar-container {
        width: 430px;
    }
}

@media (max-width: 1199.5px) {
    #search-bar-container {
        width: 320px;
    }
}

@media (max-width: 991.5px) {
    #search-bar-container {
        width: calc(100% - 206px);
        top: 5px;
        right: 62px;
    }
}

@media (max-width: 767.5px) {
    #search-bar-container {
        width: calc(100% - 112px);
        top: 3px;
    }
}

/* NAV -> rounded border for input */
@media (max-width: 575.5px) {
    .rounded-input > input,
    button.rounded-input {
        border-top-right-radius: 0.375rem !important;
        border-bottom-right-radius: 0.375rem !important;
    }
}

/* S -> cards grid styles */
#filter-section,
#filter-section-skeleton {
    max-width: 185px;
    width: 185px;
}

@media (max-width: 575.5px) {
    #filter-section,
    #filter-section-skeleton {
        max-width: 100%;
        width: 100%;
    }
}

.custom-card {
    width: 300px;
    min-width: 300px;
}

/* S -> filters wrapper */
#filters-wrapper {
    height: 100%;
}

/* S -> move to top button */
#move-to-filters-btn {
    position: sticky;
    top: 72px;
}

@media (max-width: 991.5px) {
    #move-to-filters-btn {
        top: 62px;
    }
}

/* S -> background for filter */
.bg-filters {
    background-color: white !important;
}

@media (max-width: 575.5px) {
    .bg-filters {
        background-color: rgba(138, 199, 90, 0.2) !important;
    }
}

.bg-filters-buttons { 
    background-color: rgba(255, 255, 255, 0.8) !important;
}

/* S -> active filters rounding */
.rounded-row-end div:last-child {
    border-top-right-radius: 0.375rem !important;
    border-bottom-right-radius: 0.375rem !important;
}

/* S -> annotation styles */
.annotation-container {
    max-height: 300px;
    overflow: hidden;
    position: relative;
    mask-image: linear-gradient(180deg, #000 80%, transparent);
}

.annotation-container.expanded {
    max-height: none;
    mask-image: none;
}

.annotation-text {
    text-align: justify;
    font-size: 0.9em;
}

/* S -> Course card blueprint assignment ribbon styles */
.ribbon {
    width: 70px;
    height: 70px;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
}

.ribbon span {
    position: absolute;
    display: block;
    width: 99px;
    padding: 5px 0;
    background: rgb(4, 108, 181);
    color: white;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    transform: rotate(45deg);
    top: 7px;
    right: -28px;
    z-index: 50;
}

/* CD -> badges colors */
.bg-winter {
    background-color: rgb(161, 206, 224);
    color: black !important;
}

.bg-summer {
    background-color: rgb(255, 234, 118);
    color: black !important;
}

.bg-both {
    background-color: rgb(218, 172, 218);
    color: black !important;
}

.bg-degreeplan {
    background-color: rgb(240, 116, 0);
    color: white !important;
}

/* CD -> teachers table styles */
#teachers-table {
    table-layout: auto;
}

.teachers-first-column {
    white-space: nowrap;
    width: 1px;
    max-width: max-content;
}

/* CD -> rating form ticks styles */
.tick-container {
    position: relative;
    width: 97%;
    top: -5px;
}

.tick {
    position: absolute;
    text-align: center;
    font-size: 12px;
    transform: translateX(-50%);
}

/* CD -> info tables have no border under itself */
.info-table-borders tr:last-child td:nth-child(2) {
    border-bottom: none !important;
}

/* CD -> not rated no thumb range styles */
.no-thumb::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    appearance: none !important;
    width: 0 !important;
    height: 0 !important;
}

.no-thumb::-moz-range-thumb {
    width: 0 !important;
    height: 0 !important;
    border: none !important;
}

/* CD -> scrolling to details nav tabs */
#details-nav-tabs {
    scroll-margin-top: 56px;
}

@media (max-width: 767.5px) {
    #details-nav-tabs {
        scroll-margin-top: 75px;
    }
}

/* BP -> small screen title */
.small-screen-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* BP -> fold semester button */
.hide-semester-btn {
    width: 28px;
    height: 28px;
}

/* BP -> Easier checking of the checkboxes */
.circle-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    display: none;
    user-select: none;
    z-index: 3;
}

.checkbox-container:hover .circle-overlay,
.checkbox-container .circle-overlay:hover {
    display: block;
}

/* BP -> Checkbox styles */
.bp-checkbox {
    border: 1px solid #2c2c2c !important;
    z-index: 2 !important;
}

@media (max-width: 767.5px) {
    .bp-checkbox {
        margin-top: 2px !important;
        width: 24px !important;
        height: 24px !important;
    }
}

/* BP -> Move course button */
.move-button-filler-sm {
    padding: 4px 8px;
}

.move-button-filler-bg {
    padding: 6px 12px;
}

/* BP -> Checked courses menu with buttons */
#bp-checked-courses-menu,
#bp-checked-courses-menu-skeleton {
    position: sticky;
    height: 36px;
    top: 52px;
    background-color: white;
    z-index: 100;
}

@media (max-width: 767.5px) {
    #bp-checked-courses-menu,
    #bp-checked-courses-menu-skeleton {
        height: 60px;
    }
}

/* BP -> Checked courses big buttons on mobile */
@media (max-width: 767.5px) {
    .big-mobile-btn {
        font-size: 1.3rem !important;
        padding: 8px 12px !important;
    }
}

/* Blueprint colored button */
.btn-outline-blueprint {
    color: rgb(4, 108, 181) !important;
    border-color: rgb(4, 108, 181) !important;
}

.btn-outline-blueprint.border-transparent {
    border-color: transparent !important;
}

.btn-outline-blueprint:hover,
.btn-blueprint-hover {
    color: #fff !important;
    background-color: rgb(4, 108, 181) !important;
    border-color: rgb(4, 108, 181) !important;
} 

.btn-blueprint {
    color: #fff !important;
    background-color: rgb(4, 108, 181) !important;
    border-color: rgb(4, 108, 181) !important;
}

.btn-blueprint:hover {
    color: #fff !important;
    background-color: rgb(4, 54, 90) !important;
    border-color: rgb(3, 87, 146) !important;
}

/* Icon color */
.blueprint-color {
    color: rgb(4, 108, 181) !important;
}

.unassigned-color {
    color: rgb(122, 158, 190) !important;
}

/* Badges colors */
.bg-blueprint {
    background-color: rgb(4, 108, 181) !important;
}

.bg-unassigned {
    background-color: rgb(122, 158, 190) !important;
}

/* BP -> assign hover styles */
.dropdown-item-blueprint:hover {
    background-color: rgb(4, 108, 181) !important;
    color: #fff !important;
}

/* === Blueprint tables styles === */
.blueprint-table {
    table-layout: fixed;
}

/* checkbox */
.blueprint-table th:nth-child(1),
.blueprint-table td:nth-child(1) {
    width: 28px;
}

@media (max-width: 767.5px) {
    .blueprint-table th:nth-child(1),
    .blueprint-table td:nth-child(1){
        width: 50px;
    }
}

/* code */
.blueprint-table th:nth-child(2),
.blueprint-table td:nth-child(2) {
    width: 85px;
}

/* title */
.blueprint-table th:nth-child(3),
.blueprint-table td:nth-child(3) {
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* credits */
.blueprint-table th:nth-child(4),
.blueprint-table td:nth-child(4) {
    width: 42px;
}

/* winter */
.blueprint-table th:nth-child(5),
.blueprint-table td:nth-child(5) {
    width: 90px;
}

/* summer */
.blueprint-table th:nth-child(6),
.blueprint-table td:nth-child(6) {
    width: 90px;
}

/* guarantors */
.blueprint-table th:nth-child(7),
.blueprint-table td:nth-child(7) {
    width: 265px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* guarantors smaller */
@media (max-width: 1399.5px) {
    .blueprint-table th:nth-child(7),
    .blueprint-table td:nth-child(7) {
        width: 200px;
    }
}

/* buttons */
.blueprint-table th:nth-child(8),
.blueprint-table td:nth-child(8) {
    /* 4 * button=30 + 2 * padding=4 */
    width: 128px;
}

@media (max-width: 767.5px) {
    .blueprint-table th:nth-child(8),
    .blueprint-table td:nth-child(8) {
        /* 1 * button=30 + 2 * padding=4 */
        width: 38px;
    }
}

/* table header cell overflow */
.th-overflow {
    direction: rtl; 
    text-align: right;
    white-space: nowrap;
}

/* Credits alignment styles */
.credits-column {
    padding-right: 20px !important;
}

/* =============================== */

/* === Degree plan table columns width styles === */
.degree-plan-table {
    table-layout: fixed;
}

/* checkbox */
.degree-plan-table th:nth-child(1),
.degree-plan-table td:nth-child(1) {
    width: 34px;
}

@media (max-width: 767.5px) {
    .degree-plan-table th:nth-child(1),
    .degree-plan-table td:nth-child(1){
        width: 56px;
    }
}

/* code */
.degree-plan-table th:nth-child(2),
.degree-plan-table td:nth-child(2) {
    width: 85px;
}

/* title */
.degree-plan-table th:nth-child(3),
.degree-plan-table td:nth-child(3) {
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* credits */
.degree-plan-table th:nth-child(4),
.degree-plan-table td:nth-child(4) {
    width: 42px;
}

/* winter */
.degree-plan-table th:nth-child(5),
.degree-plan-table td:nth-child(5) {
    width: 90px;
}

/* summer */
.degree-plan-table th:nth-child(6),
.degree-plan-table td:nth-child(6) {
    width: 90px;
}

/* guarantors */
.degree-plan-table th:nth-child(7),
.degree-plan-table td:nth-child(7) {
    width: 265px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* guarantors smaller */
@media (max-width: 1399.5px) {
    .degree-plan-table th:nth-child(7),
    .degree-plan-table td:nth-child(7) {
        width: 200px;
    }
}

/* button */
.degree-plan-table th:nth-child(8),
.degree-plan-table td:nth-child(8) {
    width: 55px;
}

/* ============================================== */

/* DP -> Checked courses menu with buttons */
#dp-checked-courses-menu,
#dp-checked-courses-menu-skeleton {
    position: sticky;
    height: 37px;
    top: 52px;
    background-color: white;
    z-index: 100;
}

@media (max-width: 767.5px) {
    #dp-checked-courses-menu,
    #dp-checked-courses-menu-skeleton {
        height: 60px;
    }
}

/* DP -> Checkbox styles */
.dp-checkbox {
    position: relative;
    z-index: 2 !important;
    border: 0 !important;
    background-color: white !important;
}

.dp-checkbox:checked {
    background-color: transparent !important;
}

@media (max-width: 767.5px) {
    .dp-checkbox {
        width: 24px !important;
        height: 24px !important;
        margin-top: 0px !important;
    }
}

/* DP -> circle underlay for course status */
.circle-underlay {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 24px;
    height: 24px;
    border-radius: 30%;
    transform: translate(-50%, -50%);
    display: block;
    user-select: none;
    z-index: 1;
}

@media (max-width: 767.5px) {
    .circle-underlay {
        width: 34px;
        height: 34px;
        border-radius: 20%;
    }
}

/* DP -> status badges overview */
.status-badges {
    padding-left: 36px;
}

@media (max-width: 767.5px) {
    .status-badges {
        padding-left: 0;
    }
}

/* DP -> badge circle */
.badge-circle {
    width: 20px;
    height: 20px;
}

/* DP -> plus button is large */
.dp-bp-assign-btn-sm {
    font-size: 1.75rem !important;
}

.dp-bp-assign-btn {
    font-size: 2rem !important;
}

/* DP -> BP assign line in middle */
.dp-bp-delimiter {
    position: relative;
}

.dp-bp-delimiter::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 20px;
    width: 1px;
    background-color: rgb(4, 108, 181);
}

/* DP -> mobile td widths */
.dp-mobile-code {
    width: 60px;
}

.dp-mobile-semester {
    width: 100px;
}

.dp-mobile-credits {
    width: 40px;
}

/* DP -> small table semester */
.dp-lg-semester {
    width: 130px;
}

/* === Loader and page overlay styles === */
#loader {
    display: none;
    position: fixed;
    text-align: center;
    top: calc(50% - 18px);
    left: calc(50% - 18px);
    font-size: 1.5rem;
    width: 3rem;
    height: 3rem;
    z-index: 9999;
}

#loader.htmx-request {
    display: inline;
}

#page-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 9998;
}

/* Show overlay when loader is active */
#loader.htmx-request ~ #page-overlay {
    display: block;
}

/* Skeleton styles */
#home-skeleton,
#courses-skeleton,
#blueprint-skeleton,
#degreeplan-skeleton {
    display: none;
}

#home-skeleton.htmx-request,
#courses-skeleton.htmx-request,
#blueprint-skeleton.htmx-request,
#degreeplan-skeleton.htmx-request {
    display: block;
}


/* ====================================== */