/* x-cloak is used to prevent the page from flickering when loading */
[x-cloak] { display: none !important; }

/* Custom scrollbar styles */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Ensure space for scrollbar on every page */
body {
    overflow-y: scroll;
}

/* Blueprint Popover styles */
.popover-body {
    text-align: right;
}

/* Assign box styles */
.assign-box {
    position: absolute;
    top: 100%; /* Position it directly below the parent */
    left: 50%; /* Center it horizontally */
    transform: translateX(-50%); /* Adjust for the element's width */
    background: white;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 100;
} 

/* Easier checking of the checkboxes */
.checkbox-container {
    position: relative;
}

.circle-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    display: none;
    user-select: none;
    z-index: 2;
}

.checkbox-container:hover .circle-overlay,
.checkbox-container .circle-overlay:hover {
    display: block;
}

/* Option menu on checkbox */
.option-menu {
    position: absolute;
    top: 50%;
    left: 25px;
    transform: translateY(-50%);
    z-index: 50;
    background: white;
    border: 1px solid #ccc;
    padding: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
}

/* Blueprint colored button */
.btn-outline-blueprint {
    color: rgb(4, 108, 181) !important;
    border-color: rgb(4, 108, 181) !important;
}

.btn-outline-blueprint:hover,
.btn-blueprint-hover {
    color: #fff !important;
    background-color: rgb(4, 108, 181) !important;
    border-color: rgb(4, 108, 181) !important;
} 

.btn-blueprint {
    color: #fff !important;
    background-color: rgb(4, 108, 181) !important;
    border-color: rgb(4, 108, 181) !important;
}

.btn-blueprint:hover {
    color: #fff !important;
    background-color: rgb(4, 54, 90) !important;
    border-color: rgb(3, 87, 146) !important;
}

/* Icon color */
.blueprint-color {
    color: rgb(4, 108, 181) !important;
}

/* Badges colors */
.bg-blueprint {
    background-color: rgb(4, 108, 181);
}

.bg-winter {
    background-color: rgb(113, 180, 206);
    color: black !important;
}

.bg-summer {
    background-color: rgb(255, 222, 16);
    color: black !important;
}

.bg-both {
    background-color: rgb(216, 134, 216);
    color: black !important;
}

/* Blueprint assign hover styles */
.dropdown-item:hover {
    background-color: rgb(4, 108, 181) !important; /* Change to your desired color */
    color: #fff !important; /* Optional: Change text color */
}

/* === Blueprint tables styles === */
.blueprint-table {
    table-layout: fixed;
}

/* checkbox */
.blueprint-table th:nth-child(1),
.blueprint-table td:nth-child(1) {
    width: 28px;
}

/* code */
.blueprint-table th:nth-child(2),
.blueprint-table td:nth-child(2) {
    width: 85px;
}

/* title */
.blueprint-table th:nth-child(3),
.blueprint-table td:nth-child(3) {
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* credits */
.blueprint-table th:nth-child(4),
.blueprint-table td:nth-child(4) {
    width: 42px;
}

/* winter */
.blueprint-table th:nth-child(5),
.blueprint-table td:nth-child(5) {
    width: 90px;
}

/* summer */
.blueprint-table th:nth-child(6),
.blueprint-table td:nth-child(6) {
    width: 90px;
}

/* guarantors */
.blueprint-table th:nth-child(7),
.blueprint-table td:nth-child(7) {
    width: 265px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* guarantors smaller */
@media (max-width: 1400px) {
    .blueprint-table th:nth-child(7),
    .blueprint-table td:nth-child(7) {
        width: 200px;
    }
}

/* buttons */
.blueprint-table th:nth-child(8),
.blueprint-table td:nth-child(8) {
    /* 4 * button=32 + 2 * padding=4 */
    width: 136px;
}

/* table header cell overflow */
.th-overflow {
    direction: rtl; 
    text-align: right;
    white-space: nowrap;
}

/* Credits alignment styles */
.credits-column {
    padding-right: 20px !important;
}

/* =============================== */

/* Courses grid styles */
.grid-page {
    display: grid;
    grid-template-columns: 230px 1fr;
    gap: 1rem; /* Space between columns */
}

.filter {
    width: 230px; /* Ensure the width stays fixed */
    padding: 1rem;
}

.grid-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    gap: 0;
    max-width: 100%;
    justify-content: center;
}

.custom-card {
    width: 300px;
    min-width: 300px;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
}

/* Courses annotation styles */
.annotation-container {
    max-height: 350px;
    overflow: hidden;
    position: relative;
    mask-image: linear-gradient(180deg, #000 80%, transparent);
}

.annotation-container.expanded {
    max-height: none;
    mask-image: none;
}

.annotation-text {
    text-align: justify;
    font-size: 0.9em;
}

/* Course card blueprint assignment ribbon styles */
.ribbon {
    width: 70px;
    height: 70px;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
}

.ribbon span {
    position: absolute;
    display: block;
    width: 99px;
    padding: 5px 0;
    background: rgb(4, 108, 181);
    color: white;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    transform: rotate(45deg);
    top: 7px;
    right: -28px;
    z-index: 50;
}

/* Course detail teachers table styles */
#teachers-table {
    table-layout: auto;
}

.teachers-first-column {
    white-space: nowrap;
    width: 1px;
    max-width: max-content;
}

/* Course detail rating form ticks styles */
.tick-container {
    position: relative;
    width: 97%;
    top: -5px;
}

.tick {
    position: absolute;
    text-align: center;
    font-size: 12px;
    transform: translateX(-50%);
}

/* Course detail info tables have no border under itself */
.info-table-borders tr:last-child td:nth-child(2) {
    border-bottom: none !important;
}

/* Course detail not rated no thumb range styles */
.no-thumb::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    appearance: none !important;
    width: 0 !important;
    height: 0 !important;
}

.no-thumb::-moz-range-thumb {
    width: 0 !important;
    height: 0 !important;
    border: none !important;
}

/* === Degree plan table columns width styles === */
.degree-plan-table {
    table-layout: fixed;
}

/* code */
.degree-plan-table th:nth-child(1),
.degree-plan-table td:nth-child(1) {
    width: 85px;
}

/* title */
.degree-plan-table th:nth-child(2),
.degree-plan-table td:nth-child(2) {
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* status */
.degree-plan-table th:nth-child(3),
.degree-plan-table td:nth-child(3) {
    width: 110px;
}

@media (max-width: 767px) {
    .degree-plan-table th:nth-child(3),
    .degree-plan-table td:nth-child(3) {
        width: 30px;
    }
}

/* credits */
.degree-plan-table th:nth-child(4),
.degree-plan-table td:nth-child(4) {
    width: 20px;
}

/* bloc limit */
.degree-plan-table th:nth-child(5),
.degree-plan-table td:nth-child(5) {
    width: 48px;
}

/* winter */
.degree-plan-table th:nth-child(6),
.degree-plan-table td:nth-child(6) {
    width: 90px;
}

/* summer */
.degree-plan-table th:nth-child(7),
.degree-plan-table td:nth-child(7) {
    width: 90px;
}

/* button */
.degree-plan-table th:nth-child(8),
.degree-plan-table td:nth-child(8) {
    width: 53px;
}

@media (max-width: 992px) {
    .degree-plan-table th {
        font-size: 0.9rem !important;
    }

    .degree-plan-table th h5 {
        font-size: 1.1rem !important;
    }
}
/* ============================================== */