package courses

import "github.com/michalhercik/RecSIS/utils"

templ Content(data *[]Course) {
    <form>
        <input type="text"/>
    </form>
}

templ Page(data *[]Course) {
    @utils.Page("Courses") {
        @Content(data)
    }
}